html {
  background: url("http://www.bridgetonlocal.com/wpimages/wp32230a51_05_06.jpg");
}

h1 {
  font-family: 'Shrikhand';
  font-size: 3em;
}

a {
  font-family: 'Indie Flower';
  font-size: 2em;
}

#create-notes,
#display-notes {
  display: block;
  width: 45%;
  float: left;
  background-repeat: no-repeat;
  margin-left: 5%;
}

#create-notes h1,
#display-notes h1 {
  display: block;;
}

#abbrev-notes {
  display: block;
  float: left;
  background-color: #00cc66;
  border-radius: 30px;
  margin-bottom: 50px;
  width: 60%;
  padding: 40px;
}

#full-notes {
  display: block;
  float: left;
  width: 60%;
  height: 250px !important;
  font-size: 2em;
  font-family: 'Indie Flower';
  border-radius: 30px;
  background-color: #ff66cc;
  padding: 30px;
}

form {
  transform: rotate(-10deg);
  width: 60%;
}

textarea {
  width: 100%;
  height: 250px !important;
  font-size: 2em;
  border-color: transparent;
  font-family: 'Indie Flower', cursive;
  border-radius: 30px;
  background-color: #ffff66;
  padding: 30px;
}

input.break {
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}

button {
  border-color: #66a3ff;
  background-color: #0066ff;
  border-width: thick;
  border-radius: 10px;
  border-style: none;
  display: block;
  font-family: arial;
  font-size: 1.2em;
  color: #e6f0ff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 60px;
}
